@font-face {
  font-family: "Baskerville";
  src: url("../fonts/Baskervville-VariableFont.ttf")    
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-VariableFont.ttf")  
} 



/*====================
     NAVIGATION
====================== */

/* When menu is open (always dark) */
#navbar.menu-open {
  background-color: rgb(5, 21, 27); 
}

/* SERVICE SLIDER */
.slick-track {
  height: 500px;
}
/* Move slider controls */
/* .custom-prev {
  left: -3rem;
} */

/* .custom-next {
  right: -3rem;
} */

.custom-prev:hover,
.custom-next:hover {
  background-color: #c19b5c;
}
/* TESTIMONIAL SLIDER*/
.testimonial-cards {
  height: 300px;
}

/* FAQ */
/* hide content by default */
.accordion-content {
  display: none;
}

/* spacing so items are always visible */
.faq-item {
  margin-bottom: 1.5rem;
}

/* icon */
.faq-title::after {
  content: "+";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #c19b5c;
}

/* active icon */
.faq-item.open .faq-title::after {
  content: "-";
  font-size: 1.2rem;

}


.faq-item.open .accordion-content {
  display: block;
  border-bottom: 1px solid #c19b5c;
}

/* remove double border when open */
.faq-item.open .faq-title {
  border-bottom: none;
}

